
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Go Weather</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/superhero-bootstrap.css">
  </head>

  <body>

    <div class="container">

      <h1><span style="font-size: 5em">:(</span><br><strong> There seems to be a technical problem. Please try again later. </strong></h1>

    </div> <!-- /container -->

  </body>
</html>

