
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Go Weather</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/superhero-bootstrap.css">
  </head>

  <body>

    <div class="container">
    <div class="jumbotron">

      <form action="/" method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading">Go Weather</h2>
        <div class="form-group">
          <div>
            <input type="text" class="form-control" placeholder="First Location" id="location1" name="location1" autofocus>
          </div>
        </div>
        <div class="form-group">
          <div>
            <input type="text" class="form-control" placeholder="Second Location" id="location2" name="location2" >
          </div>
        </div>
        <div class="form-group">
          <div>
            <input type="text" class="form-control" placeholder="Third Location" id="location3" name="location3" >
          </div>
        </div>
        <div class="form-group">
          <div>
            <input type="text" class="form-control" placeholder="Fourth Location" id="location4" name="location4" >
          </div>
        </div>
        <div class="form-group">
          <div>
            <input type="text" class="form-control" placeholder="Fifth Location" id="location5" name="location5" >
          </div>
        </div>
        <div class="form-group">
          <div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Get Weather</button>
          </div>
        </div>
      </form>
      </div>

    </div> <!-- /container -->

  </body>
</html>

